// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&mt {
    tapping-term-ms = <150>;
};

&lt {
    tapping-term-ms = <150>;
};

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮              ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │              │  Y       │  U       │  I       │  O       │  P       │
            &kp Q      &kp W      &kp E      &kp R      &kp T                     &kp Y      &kp U      &kp I      &kp O      &kp P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤              ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │              │  H       │  J       │  K       │  L       │ ' "      │
           &mt LSHFT A  &kp S      &kp D      &lt 2 F     &kp G                     &kp H      &kp J      &kp K      &kp L     &mt RSHFT SQT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤              ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │              │  N       │  M       │ , <      │ . >      │ / ?      │
           &mt LALT Z   &kp X      &kp C      &kp V      &kp B                     &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤              ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                            &mt LCTRL TAB &lt 1 RET             &lt 2 SPACE  &mt RCTRL BSPC
        //                                 ╰──────────┴──────────╯              ╰──────────┴──────────╯
            >;
        };

        right_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮              ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ INSERT   │  1       │  2       │  3       │          │              │ HOME     │ PAGE DN  │ PAGE UP  │ END      │  :       │
            &kp ESC  &bt BT_CLR  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2          &trans     &kp HOME    &kp UP      &kp END     &kp LS(LBKT)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤              ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ DELETE   │  4       │  5       │  6       │          │              │ LEFT     │ DOWN     │ UP       │ RIGHT    │  ;       │
            &kp LCTRL  &kp LSHFT  &kp LALT   &kp LGUI   &trans                  &kp SEMI  &kp LEFT    &kp DOWN    &kp RIGHT   &kp LS(RBKT)
        //├──────────┼──────────┼──────────┼──────────┼──────────┤              ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ CAPS     │  7       │  8       │  9       │  0       │              │          │          │          │          │          │
        &studio_unlock &sys_reset &trans     &trans     &trans                    &kp BSLH  &kp LPAR    &kp RPAR    &kp LBKT    &kp RBKT
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤              ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans                   &trans     &trans
        //                                 ╰──────────┴──────────╯              ╰──────────┴──────────╯
            >;
        };

        left_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮              ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │  [       │  {       │  }       │          │              │  ^       │  (       │  )       │  ]       │  ~       │
            &kp GRAVE  &kp PRCNT  &kp PIPE   &kp AMPS  &kp EQUAL                    &kp F1  &kp N7      &kp N8      &kp N9      &kp F4
        //├──────────┼──────────┼──────────┼──────────┼──────────┤              ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  !       │  @       │  #       │  $       │  %       │              │  *       │  -       │  =       │  \       │  `       │
            &kp EXCL   &kp AT    &kp HASH    &kp DLLR  &kp LS(DOT)                  &kp F2   &kp N4     &kp N5    &kp N6      &kp F5
        //├──────────┼──────────┼──────────┼──────────┼──────────┤              ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │              │  &       │  _       │  +       │  │       │          │
            &kp CARET   &kp ASTRK   &kp LS(MINUS)   &kp LS(EQUAL)   &kp MINUS       &kp F3      &kp N1   &kp N2    &kp N3     &kp F6
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤              ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans                    &kp RET     &kp N0
        //                                 ╰──────────┴──────────╯              ╰──────────┴──────────╯
            >;
        };

        extra_1 {
            status = "reserved";
        };

        extra_2 {
            status = "reserved";
        };

        extra_3 {
            status = "reserved";
        };
    };
};
